extends layout

block content
  style body {background: black}
  .container
    .row
      .col-12.text-center.error-container
        img(src='/images/spren_sick.svg')
        h1 OOOOPS!
        p THERE'S NOT MUCH LEFT HERE FOR YOU ;)
        a(href='/') Go back
